/*Alerts*/
.alert {
    position: relative;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 30%;
    padding: 16px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    filter: drop-shadow(0px 2px 3px #c5c5c5);
  }
  .alert p{
    color: white;
    font-size: 20px;
    margin: 0;
  }
  .alert img{
    width: 7%;
  }
  .alert .close2{
    color: white;
  }
  .alertred{
    background-color: #E82124;
  }
  .alertgreen{
    background-color: #009D4A;
  }
  .alertblue{
    background-color: #407CED;
  }
  .alertorange{
    background-color: #FFB438;
  }
  /*Cookie css*/
  .cookie-banner {
    position: fixed;
    bottom: 40px;
    left: 25%;
    right: 10%;
    z-index: 9999;
    width: 50%;
    padding: 16px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
    filter: drop-shadow(0px 2px 3px #c5c5c5);
  }
  
  .close {
    background: transparent;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 31px;
    font-weight: bold;
    font-family: auto;
  }
  .close2 {
    background: transparent;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 31px;
    font-weight: bold;
    font-family: auto;
  }